{% extends "base.html" %}

{% block content %}

    <h2 class="page-title"><a href="/operator_view"><i class="fa fa-angle-left"></i></a> Menus</h2>

    <div class="register-block">


        {% for instance in menu_instance_list %}
            <div style="display: flex;">
                <div style=" width:40%; text-align: left; padding: 10px; display: inline-block">
                    Menu #{{instance.id_menu}}
                </div>
                <div style="width:60%; padding: 10px; text-align: right;">
                    <a class="hoverLink" href="{%url 'menu_update_view' instance.id_menu %}" class="">Update</a> |
                    <a class="hoverLink" href="{%url 'menu_delete_view' instance.id_menu %}" class="">Delete</a>
                </div>
            </div>
            <hr>
        {% endfor %}
        <br>
        <a href="menu_create_view"><button class="button-black">Create new menu</button></a>
    </div>
{% endblock %}