{% extends "base.html" %}

{% block content %}
    <h2 class="page-title">Operator page</h2>

    <div class="register-block" style="text-align: left">
        <hr><br>
        <h1><a class="hoverLink" href="food_order">Orders <i class="fa fa-angle-right" style="font-size: 26px"></i></a></h1>
        <br><hr><br>
        <h1><a class="hoverLink" href="facility_list_staff_view">Facilities administration <i class="fa fa-angle-right" style="font-size: 26px"></i></a></h1>
        <br><hr><br>
        <h1><a class="hoverLink" href="food_list_view">Food administration <i class="fa fa-angle-right" style="font-size: 26px"></i></a></h1>
        <br><hr><br>
        <h1><a class="hoverLink" href="menu_list_view">Menu administration <i class="fa fa-angle-right" style="font-size: 26px"></i></a></h1>
        <br><hr><br>
        <h1><a class="hoverLink" href="facility_menus_create">Assign menu to Facility <i class="fa fa-angle-right" style="font-size: 26px"></i></a></h1>
        <br><hr><br>
        <h1><a class="hoverLink" href="menu_items_create">Assign food to menu <i class="fa fa-angle-right" style="font-size: 26px"></i></a></h1>
        <br><hr>
    </div>

{% endblock %}